<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="/">FINESS BUSINESS INTER</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'employee_list' %}">Employes</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'material_list' %}">Matériels</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'position_list' %}">Positions</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout &nbsp; <span
                                style="text-decoration: underline;"> ({{ user.username }}) </span> </a></li>
                    {% else %}
                    <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <main id="main">
        <div class="container pt-4 pb-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>eNno</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>