{% extends "gestion/base.html" %}

{% block title %}Add New Employee Records{% endblock title %}

{% block content %}
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <span>ADD NEW EMPLOYEE</span>
            <h2>ADD NEW EMPLOYEE</h2>
            <p>Fill the form below to add a new employee</p>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-5 mt-lg-0 align-items-center text-center" style="margin: 0 auto;">
                <form method="post" action="{% url 'employee_new' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mt-3">
                            <label for="id_username">Firstname</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="id_username">Lastname</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mt-3">
                            <label for="id_username">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="id_username">Phone number</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mt-3">
                            <label for="id_username">Hire date</label>
                            {{ form.hire_date }}
                        </div>
                        <div class="form-group mt-3">
                            <label for="id_username">Materials</label>
                            {{ form.assigned_materials }}
                        </div>
                    </div>
                    <div class="row">
                        </div>
                        <div class="form-group mt-3">
                            <label for="id_username">Position</label>
                            {{ form.position }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

{% endblock content %}