{% extends "gestion/base.html" %}

{% block title %}Materials list{% endblock title %}

{% block content %}

    <!-- Services -->
    <div id="services" class="cards-2 cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">
                        <span>MATERIALS</span>
                        <br>
                        <a class="btn-outline-reg mt-4" href="{% url 'material_new' %}">Add New Material</a>
                    </h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-lg-12">
                    
                    {% for material in materials %}
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{material.name}}</h5>
                            <p>{{material.description}}</p>
                            
                        {% if user.is_authenticated %}
                        <a class="btn-outline-reg" href="{% url 'material_edit' pk=material.pk %}">Update</a>
                        <a class="btn-solid-reg" href="{% url 'material_remove' pk=material.pk %}">Delete</a>
                        {% endif %}
                        </div>
                    </div>
                    <!-- end of card -->
                {% endfor %}

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->

{% endblock content %}