{% extends "gestion/base.html" %}
  
{% block title %}Edit Material Records{% endblock title %}
  
{% block content %}
<div id="contact" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading"><span>EDIT MATERIAL</span><br></h2>
                <p class="p-heading">Fill the form below to edit the material</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                
                <!-- Contact Form -->
                <form method="POST" class="post-form">
                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {{ form.as_p }}
                    
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Submit</button>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->

{% endblock content %}   