{% extends "gestion/base.html" %}
  
{% block title %}Edit Material Records{% endblock title %}
  
{% block content %}
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <span>EDIT MATERIAL</span>
            <h2>EDIT MATERIAL</h2>
            <p>Fill the form below to edit the material informations</p>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-5 mt-lg-0 align-items-center text-center" style="margin: 0 auto;">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                    <button class="btn btn-dark mt-3"><a href="{% url 'material_list' %}" style="color: #fff;">Cancel</a></button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}   